{% extends "base.html" %}
{% load static%}
{% block content %}

<div style="padding: 20px 30px;">
{% if validlink %}
<h3>Set a new password!</h3>

<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
   <br>

  <input class="button mgt" type="submit" value="Change my password">

  {% if form.errors %}
     {% for field in form %}
          {% for error in field.errors %}
            <div style="margin-bottom:0;" class="alert alert-warning alert-dismissible" role="alert">
              {{ error }}
              <button type="button" class="btn-close" aria-label="Close" onclick="closeAlert(this)"></button>
              {% endfor %}
            {% endfor %}
        </ul>
    </div>
{% endif %}

</form>

{% else %}

<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

{% endif %}
</div>
{% endblock %}