{%extends 'base.html'%}

{%block content%}

<style>
	#about-style{
		padding: 30px 80px;
		word-spacing: 4px;
		line-height: 1.5em;
		font-size:  18px;
	}
</style>


<section id="about">
<div class="container" >
 <div class="row">
	<div class="example_h_1 clearfix" >
	<div class="example_h_1l clearfix" style="background: #CFFFDC">
		<div class="list_1 text-center clearfix" >
			<div class="col-sm-12">
			<br><br>  
			 <h2 class="mgt">Our Story</h2>	 
			</div>
		   </div>
	<p id="about-style"> At A4 Studio, we believe in the power of creativity to inspire, connect, and transform. Our platform is a vibrant hub where artists and art enthusiasts from around the world come together to discover, share, and celebrate the beauty of visual expression.
        <br><br>
		Founded with a passion for art and technology, A4 Studio bridges the gap between creators and collectors. Whether you're seeking to showcase your latest masterpiece or searching for the perfect artwork to bring your vision to life, our platform is designed to foster collaboration and creativity. From stunning paintings and intricate illustrations to dynamic digital art and beyond, we are dedicated to offering a diverse and ever-expanding collection of works.
		<br><br>
		But we’re more than just a gallery. We empower artists to share their work with the world, offering tools to build a following, gain feedback through reviews, and connect with other creators. For art lovers, our personalized features allow you to curate your own collections, add items to your wishlist, and support the creators you admire.
		<br><br>
		At the heart of A4 Studio is a commitment to creativity without limits. Every artist’s journey is unique, and our platform is here to celebrate that individuality, helping you showcase your talents, connect with an audience, and be part of a global art community.
		<br><br>
		Join us and be part of something extraordinary—where art meets innovation, and creativity knows no bounds.</p>
		<br>
	</div>
   </div>
 </div>
</div>
</section>



<section id="connect" class="clearfix">
 <div class="container">
  <div class="row">
   <div class="col-sm-12 space_all">
    <div class="connect_1 clearfix">
	 <div class="col-sm-3 connect_1m">
	  <div class="connect_1l clearfix">
	    <span><i class="fa fa-paint-brush"></i></span>
	  </div>
	  <div class="connect_1r clearfix">
	   <h4>Unique Artworks</h4>
	   <p>Explore and Discover Unique Artworks</p>
	  </div>
	 </div>
	 <div class="col-sm-3 connect_1m">
	  <div class="connect_1l clearfix">
	    <span><i class="fa fa-upload"></i></span>
	  </div>
	  <div class="connect_1r clearfix">
	   <h4>Upload Art Pieces</h4>
	   <p>Showcase your talent to the world.</p>
	  </div>
	 </div>
	 <div class="col-sm-3 connect_1m">
	  <div class="connect_1l clearfix">
	    <span><i class="fa fa-heart"></i></span>
	  </div>
	  <div class="connect_1r clearfix">
	   <h4>Create Collections</h4>
	   <p>Add favorite items to your wishlist.</p>
	  </div>
	 </div>
	 <div class="col-sm-3 connect_1m border_none">
	  <div class="connect_1l clearfix">
	    <span><i class="fa fa-star"></i></span>
	  </div>
	  <div class="connect_1r clearfix">
	   <h4>Review visuals</h4>
	   <p>Review the itemms you like or dislike.</p>
	  </div>
	 </div>
	</div>
   </div>
  </div>
 </div>
</section>

<section id="testim">
	<div class="container">
	 <div class="row">
	  <div class="list_1 text-center clearfix">
	   <div class="col-sm-12">  
		<h2 class="mgt">Happy Clients</h2>
	   </div>
	  </div>
	  <div class="testim_1 clearfix">
	   <div class="col-sm-4">
		<div class="testim_1i clearfix">
		  <div class="testim_1i1 clearfix"><span><i class="fa fa-quote-left"></i></span></div>
		  <div class="testim_1i2 clearfix">
			<p class="col_2">This platform has truly transformed the way I share my art. The ability to showcase my work to a global audience and receive feedback has been invaluable. </p>
			<div class="testim_1i2i clearfix">
			  <img src="../../static/img/user1.jpg" class="img-circle" alt="abc" width="60px" height="60px">
			  <h4 class="col_1 mgt">Sarah Mitchell<br> <span class="small_tag col_2">Digital Artist</span></h4>
			</div>
		  </div>
		</div>
	   </div>
	   <div class="col-sm-4">
		<div class="testim_1i clearfix">
		  <div class="testim_1i1 clearfix"><span><i class="fa fa-quote-left"></i></span></div>
		  <div class="testim_1i2 clearfix">
			<p class="col_2">As a passionate art collector, this website has become my go-to for discovering unique and stunning pieces and the curated categories make browsing a breeze.</p>
			<div class="testim_1i2i clearfix">
			  <img src="../../static/img/user3.jpg" class="img-circle" alt="abc" width="60px" height="60px">
			  <h4 class="col_1 mgt">Jason Carter<br> <span class="small_tag col_2">Art Collector</span></h4>
			</div>
		  </div>
		</div>
	   </div>
	   <div class="col-sm-4">
		<div class="testim_1i clearfix">
		  <div class="testim_1i1 clearfix"><span><i class="fa fa-quote-left"></i></span></div>
		  <div class="testim_1i2 clearfix">
			<p class="col_2">The user experience on this platform is fantastic! Uploading and organizing my digital art has never been easier. I also appreciate the wishlist feature."</p>
			<div class="testim_1i2i clearfix">
			  <img src="../../static/img/user2.jpg" class="img-circle" alt="abc" width="60px" height="60px">
			  <h4 class="col_1 mgt">Emily Rivera<br> <span class="small_tag col_2">Graphic Designer</span></h4>
			</div>
		  </div>
		</div>
	   </div>
	  </div>
	 </div>
	</div>
   </section>

{%endblock%}