{% extends "base.html" %}
{% block content %}

<style>
    .add-product-container {
        max-width: 1000px;
        margin: 20px auto;
        padding: 20px;
        background-color: #CFFFDC; 
        border-radius: 10px; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    }

    .add-product-title {
        font-size: 1.75em; /* Slightly larger title font */
        font-weight: bold;
        margin-bottom: 20px;
        text-align: center;
    }
    
    .add-product-form button[type="submit"] {
        border: none;
        margin-top:20px !important; 
    }

    
</style>

<div class="add-product-container">
    <h2 class="add-product-title">Add Product to {{ category.name }}</h2>
    <form method="post" enctype="multipart/form-data" class="add-product-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="button mgt" type="submit">Add Product</button>
    </form>
</div>

{% endblock %}
