{%load static%}

<section id="list_pg" class="clearfix"> 
    <div class="container">
     <div class="row">
      <div class="list_pg_1 clearfix">
       <div class="col-sm-3">
         <div class="list_pg_1l clearfix">
            <div class="center_shop_1li clearfix">
         <h5 class="mgt">HOME</h5>
          <div class="ziehharmonika">
              <h3 data-prefix="★" class="active"><a href="{% url 'detail' %}">Gallery</a><div class="arrowDown"></div><div class="collapseIcon">–</div><div class="arrowDown"></div><div class="collapseIcon">–</div><div class="arrowDown"></div><div class="collapseIcon">–</div><div class="arrowDown"></div><div class="collapseIcon">–</div></h3>
              <div class="clickable" style="display: block;">
                <ul>
                 <li><a href="{% url 'detail' %}">Furniture</a></li>
                 <li><a href="{% url 'detail' %}">Lighting</a></li>
                 <li><a href="{% url 'detail' %}">Accessories</a></li>
                 <li><a href="{% url 'detail' %}">Othres</a></li>
                </ul>
             </div>
             <h3 data-prefix="★"><a href="{% url 'detail' %}">Interiors</a><div class="arrowDown"></div><div class="collapseIcon">+</div><div class="arrowDown"></div><div class="collapseIcon">+</div><div class="arrowDown"></div><div class="collapseIcon">+</div><div class="arrowDown"></div><div class="collapseIcon">+</div></h3>
              <div class="clickable">
                <ul>
                 <li><a href="{% url 'detail' %}">Furniture</a></li>
                 <li><a href="{% url 'detail' %}">Lighting</a></li>
                 <li><a href="{% url 'detail' %}">Accessories</a></li>
                 <li><a href="{% url 'detail' %}">Othres</a></li>
                </ul>
             </div>
             <h3 data-prefix="★" class=""><a href="{% url 'detail' %}">Architectural</a><div class="arrowDown"></div><div class="collapseIcon">+</div><div class="arrowDown"></div><div class="collapseIcon">+</div><div class="arrowDown"></div><div class="collapseIcon">+</div><div class="arrowDown"></div><div class="collapseIcon">+</div></h3>
              <div class="clickable" style="display: none;">
                <ul>
                 <li><a href="{% url 'detail' %}">Furniture</a></li>
                 <li><a href="{% url 'detail' %}">Lighting</a></li>
                 <li><a href="{% url 'detail' %}">Accessories</a></li>
                 <li><a href="{% url 'detail' %}">Othres</a></li>
                </ul>
             </div>
             <h3 data-prefix="★"><a href="{% url 'detail' %}">Antiques</a><div class="arrowDown"></div><div class="collapseIcon">+</div><div class="arrowDown"></div><div class="collapseIcon">+</div><div class="arrowDown"></div><div class="collapseIcon">+</div><div class="arrowDown"></div><div class="collapseIcon">+</div></h3>
              <div class="clickable">
                <ul>
                 <li><a href="{% url 'detail' %}">Furniture</a></li>
                 <li><a href="{% url 'detail' %}">Lighting</a></li>
                 <li><a href="{% url 'detail' %}">Accessories</a></li>
                 <li><a href="{% url 'detail' %}">Othres</a></li>
                </ul>
             </div>
              <h3 data-prefix="★" class=""><a href="{% url 'detail' %}">Folk Art</a><div class="arrowDown"></div><div class="collapseIcon">+</div><div class="arrowDown"></div><div class="collapseIcon">+</div><div class="arrowDown"></div><div class="collapseIcon">+</div><div class="arrowDown"></div><div class="collapseIcon">+</div></h3>
              <div class="clickable" style="display: none;">
                <ul>
                 <li><a href="{% url 'detail' %}">Furniture</a></li>
                 <li><a href="{% url 'detail' %}">Lighting</a></li>
                 <li><a href="{% url 'detail' %}">Accessories</a></li>
                 <li><a href="{% url 'detail' %}">Othres</a></li>
                </ul>
             </div>
             <h3 data-prefix="★" class=""><a href="{% url 'detail' %}">Salvage</a><div class="arrowDown"></div><div class="collapseIcon">+</div><div class="arrowDown"></div><div class="collapseIcon">+</div><div class="arrowDown"></div><div class="collapseIcon">+</div><div class="arrowDown"></div><div class="collapseIcon">+</div></h3>
              <div class="clickable" style="display: none;">
                <ul>
                 <li><a href="{% url 'detail' %}">Furniture</a></li>
                 <li><a href="{% url 'detail' %}">Lighting</a></li>
                 <li><a href="{% url 'detail' %}">Accessories</a></li>
                 <li><a href="{% url 'detail' %}">Othres</a></li>
                </ul>
             </div>
            </div>
        </div>
            
            <div class="product_1i clearfix">
         <h5 class="mgt">SEARCH</h5>
        <div class="input-group">
                      <input type="text" class="form-control form_2" placeholder="Search Here...">
                      <span class="input-group-btn">
                          <button class="btn btn-primary" type="button">
                              <i class="fa fa-search"></i></button>
                      </span>
        </div>
        </div>
            <div class="blog_1li1 clearfix">
          <h5 class="mgt heading">BEST PRODUCTS</h5>
          <div class="blog_1li1i clearfix">
           <div class="col-sm-4 space_left">
            <img src="../../static/img/13.jpg" class="iw" alt="abc">
           </div>
           <div class="col-sm-8 space_all">
            <h5 class="mgt"><a href="{% url 'detail' %}">Elegan Tells You The Story Of Beauty</a></h5>
            <h4>$ 799.00</h4>
            <h6><a class="col_1" href="{% url 'detail' %}">Read More</a></h6>
           </div>
          </div>
          <div class="blog_1li1i clearfix">
           <div class="col-sm-4 space_left">
            <img src="../../static/img/14.jpg" class="iw" alt="abc">
           </div>
           <div class="col-sm-8 space_all">
            <h5 class="mgt"><a href="{% url 'detail' %}">Elegan Tells You The Story Of Beauty</a></h5>
            <h4>$ 699.00</h4>
            <h6><a class="col_1" href="{% url 'detail' %}">Read More</a></h6>
           </div>
          </div>
          <div class="blog_1li1i pdb border_none clearfix">
           <div class="col-sm-4 space_left">
            <img src="../../static/img/15.jpg" class="iw" alt="abc">
           </div>
           <div class="col-sm-8 space_all">
            <h5 class="mgt"><a href="{% url 'detail' %}">Elegan Tells You The Story Of Beauty</a></h5>
            <h4>$ 999.00</h4>
            <h6><a class="col_1" href="{% url 'detail' %}">Read More</a></h6>
           </div>
          </div>
        </div>
            <div class="blog_1li2 clearfix">
          <h5 class="mgt">CATEGORIES</h5>
          <h6><a href="{% url 'detail' %}"><i class="fa fa-circle-o"></i> SITE TEMPLATE<span class="pull-right">(09)</span></a></h6>
          <h6><a href="{% url 'detail' %}"><i class="fa fa-circle-o"></i> CREATIVE PSD<span class="pull-right">(10)</span></a></h6>
          <h6><a href="{% url 'detail' %}"><i class="fa fa-circle-o"></i> USER INTERFACE<span class="pull-right">(08)</span></a></h6>
          <h6 class="pdb border_none"><a href="{% url 'detail' %}"><i class="fa fa-circle-o"></i> PHOTOSHOP DESIGNS<span class="pull-right">(08)</span></a></h6>
        </div>
         </div>
       </div>