{% extends 'base.html' %}
{% load mathfilters %}
{% block content %}

<style>
.star-rating {
  display: inline-block;
  font-size: 1.5rem;
  color: gold;
}

.star-rating .filled {
  color: gold;
}

.star-rating .empty {
  color: gray;
}

.star-rating {
  display: flex;
  justify-content: left;
  direction: rtl; 
}

.star-rating input[type="radio"] {
  display: none; 
}

.star-rating label {
  font-size: 2em;
  color: #ddd; 
  cursor: pointer;
  transition: color 0.2s;
}

.star-rating input[type="radio"]:checked ~ label {
  color: #ddd;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  color: gold;
}

.star-rating input[type="radio"]:checked + label,
.star-rating input[type="radio"]:checked + label ~ label {
  color: gold;
}

</style>



{% include 'base_product.html' %}

<div class="col-sm-9">
  <div class="detail_1l clearfix">
    <div class="col-sm-5 space_left">
      <img title="" src="{{ product.image.url }}" alt="abc" class="iw" style="height:800px; width: 800px;">
    </div>
  </div>


<div class="col-sm-7 space_left">
  <div class="detail_1lr clearfix">
    <div class="detail_1lri clearfix">
      <br>
      <h4 class="mgt">{{ product.name }}</h4>
      {% comment %} <h6>
        <span class="span_1">
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
        </span>
        <span class="span_2 col_2">0 Review(s)</span>
      </h6> {% endcomment %}

      <div class="detail_1lri3 clearfix">
        <div class="detail_1lri3l clearfix">
            <div class="detail_1lri3r clearfix">
              <h5 class="mgt text-right"><a href="{% url 'download_image' product.id %}" class="button mgt">Download Image</a></h5>
            </div>
        </div>
    
      <div>
        <h3>Average Rating: {{ average_rating|floatformat:1 }} / 5</h3>
        <!-- Display stars based on the average rating -->
        <div class="star-rating">
          {% for star in "12345" %}
            {% if star <= average_rating|stringformat:"d" %}
              ★
            {% else %}
              ☆
            {% endif %}
          {% endfor %}
        </div>
      </div>
    
      <h3>Leave a Review</h3>
      <form method="post">
        {% csrf_token %}
        <div class="star-rating">
          <input type="radio" id="star5" name="rating" value="5" />
          <label for="star5" title="5 stars">★</label>
          <input type="radio" id="star4" name="rating" value="4" />
          <label for="star4" title="4 stars">★</label>
          <input type="radio" id="star3" name="rating" value="3" />
          <label for="star3" title="3 stars">★</label>
          <input type="radio" id="star2" name="rating" value="2" />
          <label for="star2" title="2 stars">★</label>
          <input type="radio" id="star1" name="rating" value="1" />
          <label for="star1" title="1 star">★</label>
       </div>
        <button style="border:none;" class="button mgt" type="submit">Submit</button>
      </form>
    
      <h3>Reviews</h3>
      <ul>
        {% for review in reviews %}
          <li>{{ review.user.username }}: {{ review.rating }} stars</li>
        {% endfor %}
      </ul>
    
      <hr>

      <!-- New Section: Display User Who Added the Product -->
      <div class="product-added-by">
        <spam>Added by:</span>
        {% if product.user %}
            <a href="{% url 'userprofile' product.user.id %}">{{ product.user.username }}</a>
        {% else %}
            <span>Unknown User</span>
        {% endif %}
      </div>


        <div class="detail_1lri4 clearfix">
          <ul>
            {% if user.is_authenticated %}
            <form action="{% url 'add_to_wishlist' product.id %}" method="POST">
                {% csrf_token %}
                <li><button style="border:none; background:none;" type="submit"><i class="fa fa-heart"></i> Add to Wishlist</button></li>
            </form>
            {% else %}
                <a href="{% url 'login' %}">Log in to add to wishlist</a>
            {% endif %}
            <!-- Share Button -->
            <li><button style="border:none; background:none;"  id="share-button"><i class="fa fa-share"></i >Share</button></li>
            </div>

          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
<br>

<script>
  document.getElementById('share-button').addEventListener('click', function() {
      if (navigator.share) {
          navigator.share({
              title: '{{ product.name }}',
              text: 'Check out this product on our website!',
              url: '{{ request.build_absolute_uri }}'
          }).then(() => {
              console.log('Product shared successfully');
          }).catch((error) => {
              console.error('Error sharing product:', error);
          });
      } else {
          alert('Sharing is not supported on this browser.');
      }
  });
  </script>

<script>
  document.addEventListener('DOMContentLoaded', function() {
      const stars = document.querySelectorAll('.star-rating .fa-star');
      const ratingInput = document.getElementById('ratingInput');

      stars.forEach(star => {
          star.addEventListener('click', function() {
              const rating = this.getAttribute('data-value');
              ratingInput.value = rating;

              stars.forEach(s => s.classList.remove('checked'));
              this.classList.add('checked');
              let previousStar = this.previousElementSibling;
              while (previousStar) {
                  previousStar.classList.add('checked');
                  previousStar = previousStar.previousElementSibling;
              }
          });
      });
  });
</script>

{% endblock %}