{%extends 'base.html'%}

{%block content%}

<section id="center" class="center_home"> 
 <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
	  <!-- Overlay -->
	  <div class="overlay"></div>
	
	  <!-- Indicators -->
	  <ol class="carousel-indicators">
		<li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
		<li data-target="#bs-carousel" data-slide-to="1" class=""></li>
		<li data-target="#bs-carousel" data-slide-to="2" class=""></li>
	  </ol>
	  
	  <!-- Wrapper for slides -->
	  <div class="carousel-inner">
		<div class="item slides active">
		  <div class="slide-1"></div>
		  <div class="hero hero_o1 clearfix">
		    <div class="col-sm-12">
				<h1 id="hero-text" class="mgt" >Discover the World of Art</h1>
				<p id="simple-text" class="col_3">Explore breathtaking art collections, from stunning landscapes to intricate portraits. Whether you're a collector, artist, or enthusiast, find the perfect artwork to elevate your space or inspire your creativity.</p>
				<h5><a id="hero-button" class="button" href="{%url 'register' %}"> Start Your Journey</a></h5>
			</div>
		  </div>
		</div>
		<div class="item slides">
		  <div class="slide-2"></div>
		  <div class="hero hero_o2 clearfix">
		    <div class="col-sm-12">
				<h1 id="hero-text" class="mgt">Empowering Creators Everywhere</h1>
				<p id="simple-text" class="col_3">Share your own masterpieces with the world. Upload your paintings, illustrations, and digital creations to reach art lovers globally. Connect with fellow artists and showcase your talent.</p>
				<h5><a id="hero-button" class="button" href="{%url 'register' %}">Join the Community</a></h5>
			</div>
		  </div>
		</div>
		<div class="item slides">
		  <div class="slide-3"></div>
		  <div class="hero hero_o3 text-center clearfix">
		    <div class="col-sm-12">
				<h1 class="mgt" id="hero-text">Curate Your Own Experience</h1>
				<p class="col_3" id="simple-text">Create custom collections, add items to your wishlist, and review your favorite pieces. Whether you're a fan of contemporary art or classic styles, build a personalized art gallery just for you.</p>
				<h5><a class="button" id="hero-button" href="{%url 'register' %}">Create Your Collection</a></h5>
			</div>
		</div>
	  </div> 
	 </div>
</div>
</section>


<br><br>

<section id="list">
	<div class="container">
	  <div class="row">
		<div class="list_1 text-center clearfix">
		  <div class="col-sm-12">
			<h2 class="mgt">Best Categories</h2>
		  </div>
		</div>
		<div class="list_2 clearfix">
		  <div id="carousel-example" class="carousel slide" data-ride="carousel">
			<!-- Wrapper for slides -->
			<div class="carousel-inner">
			  {% for category in categories1 %}
				{% if forloop.first %}
				<div class="item active">
				{% elif forloop.counter0|divisibleby:4 %}
				<div class="item">
				{% endif %}
				  <div class="col-sm-3 space_left">
					<div class="list_2im clearfix">
					  <div class="list_2imi clearfix">
						<img src="{{ category.image.url }}" class="iw" alt="{{ category.name }}" width="300px" height="350px">
					  </div>
					  <div class="list_2imi1 clearfix">
						<h5 class="mgt normal">New</h5>
					  </div>
					  <div class="list_2imi2 clearfix">
						<span><a href="#"><i class="fa fa-eye"></i></a></span>
					  </div>
					</div>
					<div class="list_2im1 clearfix">
					  <h4><a href="{%url 'category_detail' category.id%}">{{ category.name }}</a></h4>
					  <h6><a class="button mgt" href="{%url 'category_detail' category.id %}">View Category</a></h6>
					</div>
				  </div>
				{% if forloop.counter|divisibleby:4 or forloop.last %}
				</div>
				{% endif %}
			  {% endfor %}
			</div>
		  </div>
		</div>
		<div class="list_3 text-center clearfix">
		  <div class="col-sm-12">
			<!-- Controls -->
			<div class="controls">
			  <a class="left fa fa-chevron-left btn btn-success" href="#carousel-example" data-slide="prev"></a>
			  <a class="right fa fa-chevron-right btn btn-success" href="#carousel-example" data-slide="next"></a>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </section>
  
  <section id="offer">
	<div class="container">
	 <div class="row">
	  <div class="offer_1 clearfix">
	   <div class="col-sm-9">
		<div class="offer_1l clearfix">
		  <div class="offer_1li clearfix">
		   <h1 class="mgt col">Unique & <br> Stunning</h1>
		   <h5><a href="{url 'product'}" class="button">View More</a></h5>
		  </div>
		</div>
	   </div>
	   <div class="col-sm-3 space_all">
		<div class="offer_1r clearfix">
		 <div class="offer_1ri text-center clearfix">
		   <h2 class="mgt col">Visuals</h2>
		  </div>
		</div>
	   </div>
	  </div>
	 </div>
	</div>
   </section>
   

  <section id="list">
	<div class="container">
	  <div class="row">
		<div class="list_1 text-center clearfix">
		  <div class="col-sm-12">
			<h2 class="mgt">Latest Categories</h2>
		  </div>
		</div>
		<div class="list_2 clearfix">
		  <div id="carousel-example" class="carousel slide" data-ride="carousel">
			<!-- Wrapper for slides -->
			<div class="carousel-inner">
			  {% for category in categories2 %}
				{% if forloop.first %}
				<div class="item active">
				{% elif forloop.counter0|divisibleby:4 %}
				<div class="item">
				{% endif %}
				  <div class="col-sm-3 space_left">
					<div class="list_2im clearfix">
					  <div class="list_2imi clearfix">
						<img src="{{ category.image.url }}" class="iw" alt="{{ category.name }}" width="300px" height="350px">
					  </div>
					  <div class="list_2imi1 clearfix">
						<h5 class="mgt normal">New</h5>
					  </div>
					  <div class="list_2imi2 clearfix">
						<span><a href="#"><i class="fa fa-eye"></i></a></span>
					  </div>
					</div>
					<div class="list_2im1 clearfix">
					  <h4><a href="{%url 'category_detail' category.id%}">{{ category.name }}</a></h4>
					  <h6><a class="button mgt" href="{%url 'category_detail' category.id %}">View Category</a></h6>
					</div>
				  </div>
				{% if forloop.counter|divisibleby:4 or forloop.last %}
				</div>
				{% endif %}
			  {% endfor %}
			</div>
		  </div>
		</div>
		<div class="list_3 text-center clearfix">
		  <div class="col-sm-12">
			<!-- Controls -->
			<div class="controls">
			  <a class="left fa fa-chevron-left btn btn-success" href="#carousel-example" data-slide="prev"></a>
			  <a class="right fa fa-chevron-right btn btn-success" href="#carousel-example" data-slide="next"></a>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </section>
   

  
<br>

<div class="container">
	<div class="row">
		<div class="offer_2 clearfix">
			<div class="col-sm-4">
			<div class="offer_2i text-center clearfix">
			<span><i class="fa fa-paint-brush"></i></span>
			<h4>Discover Unique Artworks</h4>
			<p>Explore art collections of any  category and inspire your creativity.</p>
			</div>
			</div>
			<div class="col-sm-4">
			<div class="offer_2i text-center clearfix">
			<span><i class="fa fa-upload"></i></span>
			<h4>Upload and Share</h4>
			<p>Showcase and share your own masterpieces with the world.</p>
			</div>
			</div>
			<div class="col-sm-4">
			<div class="offer_2i text-center clearfix">
			<span><i class="fa fa-heart"></i></span>
			<h4>Personalized Collections</h4>
			<p>Add items to your wishlist, add creators to your favorites, and review artworks.</p>
			</div>
			</div>
		</div>
    </div>
</div>
  <br>


{%endblock%}