{% extends "base.html" %}
{% load static %}
{% block content %}
<link href="../../static/css/profile.css" rel="stylesheet">

<div class="profile-container">
    <!-- Edit profile option -->
    {% if is_editing %}
        <form method="post" enctype="multipart/form-data" class="profile-edit-form" id="form-group">
            {% csrf_token %}
            <div>
                <label for="id_username">Username:</label>
                {{ form.username }}
            </div>

            <div>
                <label for="id_first_name">First Name:</label>
                {{ form.first_name }}
            </div>

            <div>
                <label for="id_last_name">Last Name:</label>
                {{ form.last_name }}
            </div>

            <div>
                <label for="id_bio">Bio:</label>
                {{ form.bio }}
            </div>

            <div>
                <label for="id_profile_image">Profile Image:</label>
                {{ form.profile_image }}
            </div>
            
            <button class="button mgt" type="submit">Save Changes</button>

        </form>


    {% else %}

        <!-- Profile page shown to the user if it is not editing-->

        <div class="profile-info">
            {% if user_profile.profile_image %}
                <img src="{{ user_profile.profile_image.url }}" alt="Profile Image" width="80px" height="80px">
            {% else %}
                <img src="{% static 'uploads/profile_pics/default.png' %}" alt="Default Profile Image" width="80px" height="80px">
            {% endif %}
            <div class="profile-details">
                <h4>{{ full_name }}</h4>
                <p>@{{ user.username }}</p>
                <p>{{ user.userprofile.bio }}</p>
            </div>
            <a href="?edit=true" class="button mgt">Edit Profile</a>
        </div>
        
        
        <div class="mt-4">
            <ul>
                <li>
                    <a href="?show=following" class="col_1 bold">Favorite Creators</a>
                </li>
                    <ul class="following-list">
                        {% if show_following %}
                        {% for followed_user in following_list %}
                            <div class="col-sm-6" style="margin:0; padding: 0; ">
                            <li><h5><a href="{% url 'profile' followed_user.user.id %}">{{ followed_user.user.username }}</a></h5></li>
                            </div>
                            <!-- Display follow/unfollow button based on whether the user is already following the profile owner -->
                            <div class="col-sm-6 text-right" style="margin:0; padding:0">
                                <div style="padding-bottom:10px;">
                            {% if request.user != followed_user.user %}
                                {% if followed_user in request.user.userprofile.following.all %}
                                    <a href="{% url 'unfollow_user' followed_user.user.id %}" class="button mgt">Unfavorite</a>
                                {% else %}
                                    <a  href="{% url 'follow_user' followed_user.user.id %}" class="button mgt">Add to Favorites</a>
                                {% endif %}
                            </div>
                            {% endif %}
                           </div>
                        {% empty %}
                            <li>You've not added anyone yet.</li>
                        {% endfor %}
                    {% endif %}    
                    </ul>

                <li class="wishlist-item">
                    <a class="col_1 bold" href="?show=wishlist_items">Wishlist</a>
                    {% if show_wishlist %}
                        <ul class="product-list list_pg_1r1 clearfix">
                            <div class="clearfix">
                                {% for item in wishlist_items %}
                                <div class="col-sm-4 space_left">
                                    <div class="list_2im clearfix">
                                        <div class="list_2imi clearfix">
                                            <img src="{{ item.product.image.url }}" class="iw" alt="Product Image" width="300px" height="200px">
                                        </div>
                                    </div>
                                    <div class="list_2im1 clearfix">
                                        <h4><a href="{% url 'detail' item.product.id %}">{{ item.product.name }}</a></h4>
                                        <h6><a class="button mgt" href="{% url 'detail' item.product.id %}">View</a></h6>
                                    </div>
                                </div>
                                {% empty %}
                                <li>There's nothing in wishlist yet.</li>
                                {% endfor %}
                            </div>
                        </ul>
                    {% endif %}
                </li>
                    
            </ul>

            <ul class="category-list">
                <div class="ziehharmonika">
                    <h3 data-prefix="★" class="active">
                        Upload Products Here.
                        <div class="collapseIcon">+</div>
                    </h3>
                    <div class="clickable" style="display: none;">
                        <ul style="list-style-type: none;">
                            {% for maincategory in maincategories %}
                            <li>
                                <a class="col_1 bold" href="{% url 'category_user' maincategory.id %}">~ {{ maincategory.name }}</a>
                            </li>
                            {% endfor %} 
                        </ul>
                    </div>       
                </div>
            </ul>
        </div>
        
        <div class="mt-4">
            <h5>Your Products</h5>
            <ul class="product-list list_pg_1r1 clearfix">
                <div class="clearfix">
                    {% for product in user_products %}
                    <div class="col-sm-4 space_left">
                        <div class="list_2im clearfix">
                            <div class="list_2imi clearfix">
                                <img src="{{ product.image.url }}" class="iw" alt="Product Image" width="300px" height="200px">
                            </div>
                        </div>
                        <div class="list_2im1 clearfix">
                            <h4><a href="{% url 'detail' product.id %}">{{ product.name }}</a></h4>
                            <h6><a class="button mgt" href="{% url 'detail' product.id %}">View</a></h6>
                        </div>
                    </div>
                    {% empty %}
                    <li>No products added yet.</li>
                    {% endfor %}
                </div>
            </ul>
        </div>
         
    {% endif %}
</div>

<!-- For + sign functionality  -->
<script>
    $(document).ready(function() {
        $('h3 .collapseIcon').on('click', function() {
            var $this = $(this);
            var $clickable = $this.closest('h3').next('.clickable');
            
            $clickable.slideToggle(); // Toggle the visibility of categories
            
            // Toggle the icon between '+' and '-'
            if ($this.text() === "+") {
                $this.text("-");
            } else {
                $this.text("+");
            }
        });
    });
    
 </script>

{% endblock %}
