{%extends 'base.html'%}

{%block content%}

<section id="register">
 <div class="container">
  <div class="row">
   <div class="register_1 clearfix">
    <div class="col-sm-6 space_left">
	 <div class="register_1l clearfix">
	  <div class="register_1li clearfix">
	   <h3 class="mgt">Welcome to A4 STUDIO</h3>
	   <p>Let's come together to discover, share, and celebrate the beauty of visual expressions.</p>
	   <h4 class="c_text">Create a New Account</h4>
	  </div>
	  <div class="register_1li1l clearfix">
	  <form method="POST" action="{% url 'register' %}">
		{% csrf_token %}
        <div class="register_1li1l clearfix">
			<h5>{{ form.first_name.label_tag }}</h5>
			{{ form.first_name }}

			<h5>{{ form.last_name.label_tag }}</h5>
			{{ form.last_name}}

			<h5>{{ form.username.label_tag }}</h5>
			{{ form.username }}
			
			<h5>{{ form.email.label_tag }}</h5>
			{{ form.email }}
			
			<h5>{{ form.password.label_tag }}</h5>
			{{ form.password }}
		</div>
	  <div class="register_1li2 clearfix">
	   <p>
	   I am a
	   <span><input class="check" type="checkbox"></span>
	   Viewer
	   <span><input class="check" type="checkbox"></span>
	   Artist
	   <span><input class="check" type="checkbox"></span>
	   Both</p>
	  </div>
	   <div class="col-sm-12 space_all">
	     <h6 class="term"><input class="check" type="checkbox"> I agree with website <a class="c_text" href="#">Terms and Services</a></h6>
	   </div>
	   <div class="col-sm-12 space_all">
	     <span class="tick_box"><input class="check" type="checkbox"> Remember Me</span>
		   <h5> <button class="button" type="submit" style="border:none;">Register</button></h5>
	  </form>
	   </div>
	  </div>
	 </div>
	</div>
	<div class="col-sm-6" style="padding: 0 50px 0 50px">
	 <div class="register_1r clearfix">
	  <img src="../../static/img/register.jpg" class="iw" alt="abc" height="800px"></div>
	</div>
   </div>
  </div>
	</div>
</section>

{%endblock%}